* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

input,
select,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  --height: 58px;

  display: inline-block;
  height: var(--height);
  width: 149px;
  border-radius: 8px;
  background: #212832;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: var(--height);
}

.section-title {
  position: relative;
  color: #696d77;
  font-size: 1.6rem;
  line-height: 1.75;
  padding-left: 30px;
}

.section-title::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 2px;
  background: #696d77;
  top: 13px;
  left: 0;
}

.section-heading {
  color: #212832;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
  margin-top: 12px;
}

.section-desc {
  margin-top: 20px;
  color: #696d76;
  font-size: 1.8rem;
  line-height: 1.67;
}

/* Header */
.header {
  margin-top: 42px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__bar {
  display: flex;
  align-items: center;
}

.navbar__list {
  display: flex;
  margin-left: 46px;
}

.navbar__item {
  display: inline-block;
}

.navbar__link {
  position: relative;
  padding: 24px 0;
  margin-left: 48px;
  color: #696d76;
  font-size: 1.6rem;
  line-height: 1.75;
  transition: 0.25s ease;
}

.navbar__link--active::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 24px;
  width: 100%;
  height: 1px;
  flex-shrink: 0;
  border-radius: 0.5px;
  background: #7264d6;
}

.navbar__link--active {
  color: #212832;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.navbar__link:hover,
.cta_link:hover {
  color: #7264d6;
  opacity: 0.9;
}

.cta_link {
  color: #212832;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.btn-signup {
  --height: 52px;
  width: 113px;
  border-radius: 6px;
  margin-left: 28px;
  transition: 0.25s ease;
}
.btn-signup:hover {
  opacity: 0.9;
}

/* Hero */
.hero {
  margin-top: 76px;
}

.hero__inner {
  display: flex;
  align-items: center;
  column-gap: 60px;
}

.hero-content {
  width: 46%;
}

.hero-content__heading {
  margin-top: 12px;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.17;
}

.hero-content__heading span {
  color: #7264d6;
}

.hero-subcribe__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  height: 74px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero-subcribe__input {
  margin-left: 23px;
  width: 63%;
  outline: none;
  border: none;
}

.hero-subcribe__input::placeholder {
  color: #696d76;
  font-size: 1.6rem;
  line-height: 1.75;
}

.hero-subcribe__btn {
  margin: 8px;
  background: #7264d6;
  outline: none;
  border: none;
}

.hero-note {
  margin-top: 20px;
  color: #696d76;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.71;
}

.hero-media {
  width: 49%;
}

.hero-media__image-wrap {
  position: relative;
}

.hero-media__img {
  display: block;
  object-fit: cover;
}

.hero-media__mobile {
  width: 296px;
  height: 562px;
  margin-left: 100px;
}
.hero-media__img:nth-of-type(1) {
  position: absolute;
  width: 174px;
  height: 46px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
  top: 113px;
  left: 0;
}

.hero-media__img:nth-of-type(2) {
  position: absolute;
  width: 124px;
  height: 68px;
  border-radius: 10px;
  background: #439f90;
  left: 346px;
  bottom: 61px;
}

.hero-media__img:nth-of-type(3) {
  position: absolute;
  width: 130px;
  height: 130px;
  background: #da6464;
  border-radius: 50%;
  top: 127px;
  left: 440px;
}

/* How it works */

.operation {
  padding: 80px 0;
  margin-top: 80px;
}

.operation__media {
  width: 49%;
}

.operation__inner {
  display: flex;
  justify-content: space-between;
}

.operation__media-image-wrap {
  position: relative;
  width: 470px;
  left: 0;
  bottom: 0;
}

.operation__media-bg-img {
  display: block;
  margin-top: 69px;
  width: 100%;
}

.operation__media-img {
  position: absolute;
  display: block;
  margin-left: 7px;
  object-fit: cover;
  height: 619px;
  left: 0;
  bottom: 0;
}

.operation__media-decor {
  position: absolute;
  top: 0;
  left: 344px;
}

.operation__media-notify {
  display: flex;
  align-items: center;
  position: absolute;
  width: 226px;
  height: 70px;
  border-radius: 8px;
  padding: 15px;
  background: #fffdfa;
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
  bottom: 91px;
  left: 344px;
}

.notify-check {
  width: 20px;
  height: 20px;
  padding: 2px;
  background: #fff;
  border-radius: 50%;
}

.notify-check-wrap {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background: #4ab5e3;
  align-items: center;
  justify-content: center;
}

.notify-content {
  margin-left: 10px;
  font-family: Inter, sans-serif;
}

.notify-title {
  color: #212832;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: normal;
}

.notify-desc {
  color: #696d76;
  font-size: 1.2rem;
  line-height: normal;
}

.operation__content {
  width: 40%;
}

.operation__title {
  margin-top: 17px;
}

.operation__method {
  color: #212832;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.45;
  margin-top: 30px;
}

.operation__method:first-of-type {
  margin-top: 70px;
}

.operation__desc {
  font-size: 1.6rem;
  line-height: 1.75;
  margin-top: 16px;
}

/* Payment, Transfer */
.payment,
.transfer {
  padding: 80px 0px;
}

.payment__inner,
.transfer__inner {
  display: flex;
  align-items: center;
  column-gap: 130px;
}

.payment__content,
.transfer__content {
  width: 40%;
}

.payment__list,
.transfer__list {
  margin-top: 28px;
}

.payment__item:first-of-type,
.transfer__item:first-of-type {
  margin-top: 28px;
}

.payment__item,
.transfer__item {
  position: relative;
  margin-top: 18px;
  color: #212832;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  padding-left: 24px;
}

.payment__item::before,
.transfer__item::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #7264d6;
  transform: translateY(-50%);
}

.payment__btn,
.transfer__btn {
  margin-top: 38px;
}

.payment-media__wrap {
  position: relative;
  border-radius: 20px;
}

.payemnt-card {
  color: #fff;
  width: 482px;
  height: 322px;
  border-radius: 20px;
  padding: 38px;
  background: #8476e3;
}

.payment-card__row {
  display: flex;
}

.payemnt-card__balance {
  z-index: 2;
}

.payemnt-card__balance-title {
  font-size: 2.4rem;
  line-height: normal;
}

.payemnt-card__balance-detail {
  margin-top: 10px;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: normal;
}

.payment-img {
  width: 80px;
  height: 48px;
  margin-left: 161px;
}

.payment__card-valid,
.payment__card-holder {
  margin-top: 98px;
}

.payment__card-valid-title,
.payment__card-holder-desc {
  font-size: 2rem;
  line-height: normal;
}

.payment__card-valid-date,
.payment__card-holder-name {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: normal;
}

.payment__card-holder {
  margin-left: 28px;
  z-index: 2;
}

.payemnt-decor-top {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  z-index: 1;
}

.payemnt-decor-bottom {
  position: absolute;
  width: 225px;
  height: 187px;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.payment-send {
  position: absolute;
  width: 276px;
  height: 86px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
  top: -48px;
  left: 294px;
}

.payment-send-wrap {
  padding: 23px 13px;
  display: flex;
  align-items: center;
}

.send-logo-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  background: #fbefef;
}

.send-content {
  display: flex;
  margin-left: 14px;
  font-family: Inter, sans-serif;
}

.send-content-title {
  color: #212832;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: normal;
}

.send-content-right {
  text-align: right;
  margin-left: 67px;
}

.send-content-desc,
.send-content-date {
  color: #696d76;
  font-size: 1rem;
  line-height: normal;
}

.send-content-money {
  color: #212832;
  text-align: right;
  font-size: 1.6rem;
  line-height: normal;
}

.payment-income {
  position: absolute;
  right: -88px;
  bottom: -55px;
  width: 120px;
  height: 120px;
  border-radius: 16px;
  background: #439f90;
  z-index: 1;
}

.payment-income-logo-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  background: #fff;
}

.payment-income-wrap {
  padding: 14px 15px;
}

.income-title {
  margin-top: 14px;
  color: #fff;
  font-size: 1.2rem;
  line-height: normal;
}

.income-money {
  margin-top: 6px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}

/* Transfer media */
.transfer__media {
  width: 49%;
}

.transfer__media-wrap {
  position: relative;
  max-width: 470px;
  height: 600px;
}

.transfer__media-bg {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  bottom: 0;
}

.transfer__media-img {
  position: absolute;
  display: block;
  width: 88%;
  left: 29px;
  bottom: 0;
}

.transfer__list-logo {
  position: absolute;

  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 44px 48px rgba(0, 0, 0, 0.1);
  right: -74px;
  bottom: 57px;
}

.transfer__list-logo-wrap {
  padding: 28px;
  max-width: 100%;
}

.transfer__list-logo-title {
  color: #212832;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.transfer__list-logo-image {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.money__logo-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #7264d6;
  position: absolute;
  right: -100px;
  bottom: 222px;
}
